.ClientHeader {
    padding: 0 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    
    &__Heading {
        display: flex;
        gap: 8px;
    }

    &__ApplicationImage {
        height: 30px;
        width: 50px;
        border-radius: 8px;
    }

    &__Link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
    }

    &__UserInformationDelimiter{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__Avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    &__Button {
        background-color: #fff;
        border: gray 1px solid;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 10px;
        font-weight: 600;
        justify-content: center;
        padding: 4px 8px;
        gap: 8px;

        &:hover {
            background-color: #f0eded;
        }
    }
}