.HomeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    &__SelectButton {
        cursor: pointer;
        background-color: white;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        margin-bottom: 16px;

        &:hover {
            background-color: #f0eded;
        }
    }

    &__Image{

        &--Small {
            width: 15px;
            height: 15px;
        }

        &--Medium {
            width: 20px;
            height: 20px;
        }

        &--Large {
            width: 30px;
            height: 30px;
        }

        &--Radius {
            border-radius: 50%;
        }

        &--Transition {
            transition: transform 0.3s;
        }

        &--Rotate {
            transform: rotate(180deg);
        }
    }

    &__DropDownWrapper {
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        margin-bottom: 18px;
    }

    &__DropDown {
        cursor: pointer;
        border-radius: 4px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: #f0eded;
        }
    }

    &__UserInfoDelimiter {
        display: flex;
        align-items: center;
    }

    &__Item {
        margin-left: 16px;
    }

    &__TextAreaWrapper {
        margin-bottom: 16px;
    }

    &__TextArea {
        width: 300px;
        height: 200px;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 12px 16px;
    }

    &__SubmitButton {
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        padding: 16px 32px;
        gap: 8px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #FFDDFF;
            transition: background 1s;
        }

        &--Disabled {
            cursor: not-allowed;

            &:hover {
                background-color: #fff;
            }
        }
    }

    &__ErrorMessage {
        color: red;
        display: flex;
        justify-content: center;
    }
}