.AppHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
    height: 60px;
    border-bottom: 1px solid #e5e7eb;
    
    &__Heading {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__ApplicationImage {
        height: 50px;
        width: 50px;
        border-radius: 8px;
    }

    &__ApplicationName {
        font-weight: bold;
    }

    &__Button {
        background-color: #fff;
        border: gray 1px solid;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 10px;
        font-weight: 600;
        justify-content: center;
        padding: 4px 8px;
        gap: 8px;

        &:hover {
            background-color: #f0eded;
        }
    }

    &__SlackImage {
        height: 15px;
        width: 15px;
    }
}